<footer id="footer">
    <p class="copyright">&copy; Даний, безплатний шаблон скачаний з сайта <a href="https://html5up.net">HTML5 UP</a>.</p>
    <p class="copyright"></p>
    <p class="copyright">Редагував, змінював, верстку та деякі елементи дизайну<a href="https://www.linkedin.com/in/taras-dzivik-6ab1251a6/"> <strong>@Config.Developer.</strong></pclass="copyright">
</footer>