<header id="header">
    <div>
        <nav id="navigation">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">@Config.CompanyName Header should be image with an URL to the <strong>MAIN PAGE</strong></a>
        </nav>
    </div>
    @*<ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
    </ul>*@
</header>