<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>        
        <li>
            <nav id="navigation">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id=""><strong>Весь траспорт</strong></a>
            </nav>
        </li>
        <li><a class="opener" href="Cars">Авто</a></li>
        <li><a class="opener" href="Motorbikes">Мотоцикли</a></li>
        <li><a class="opener" href="Scooters">Самокати</a></li>
        <li><a class="opener" href="Bikes">Велосипеди</a></li>
    </ul>
</nav>