<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        
        <li>
            <nav id="navigation">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id=""><strong>Весь траспорт</strong></a>
            </nav>
        </li>
        <li>
            <span class="opener">Транспорт</span>
            <ul>
                <li><a class="opener" href="Cars">Авто</a></li>
                <li><a class="opener" href="Motorbikes">Мотоцикли</a></li>
                <li><a class="opener" href="Scooters">Самокати</a></li>
                <li><a class="opener" href="Bikes">Велосипеди</a></li>

            </ul>
        </li>
        <li><a href="/" id="">Etiam Dolore</a></li>
        <li><a href="#">Adipiscing</a></li>
        <li>
            <span class="opener">Another Submenu</span>
            <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
        </li>
        <li><a href="#">Maximus Erat</a></li>
        <li><a href="#">Sapien Mauris</a></li>
        <li><a href="#">Amet Lacinia</a></li>
    </ul>
</nav>