@*@model IQueryable<VehicleItem>

<section>
    <header class="major">
        <h2>Категорії транспорту</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="button" asp-area="" asp-controller="Vehicle" asp-action="Index" asp-route-id="@CarItem.>
                <img src="~/images/VehicleTitleImage/Car.jpg" alt="Cars" class="left" />
            </a>
            <h3>Автомобілі</h3>
        </article>
        <article>
            <a href="#" class="image" asp-area="" asp-controller="Vehicle" asp-action="Index" asp-route-id="@VehicleItem.vehicleType.Мотоцикл">
                <img src="~/images/VehicleTitleImage/Moto.jpg" alt="Motorcycle" class="left" />
                <h3>Мотоцикли</h3>
            </a>
        </article>
        <article>
            <a href="#" class="image" asp-area="" asp-controller="Vehicle" asp-action="Index" asp-route-id="@VehicleItem.vehicleType.Самокат">
                <img src="~/images/VehicleTitleImage/Scooter.jpg" alt="Scooter" class="left" />
                <h3>Самокати</h3>
            </a>
        </article>
        <article>
            <a href="#" class="image" asp-area="" asp-controller="Vehicle" asp-action="Index" asp-route-id="@VehicleItem(VehicleItem=>VehicleItem.)>
                <img src="~/images/VehicleTitleImage/Bike.jpg" alt="Bike" class="left" />
                <h3>Велосипеди</h3>
            </a>
        </article>
    </div>
</section>*@